<%
// icon/_icon.ejs
// A main HTML file of "icon" component
//
  this.name = 'icon'; const name = this.name;
  this.ejsRoot = '../../'; const ejsRoot = this.ejsRoot;
  this.params = {
    // Default parameter:
    'modifier': '',
    'icon': 'file'
  };
  if (typeof util === 'undefined') { include(ejsRoot + 'util/_util'); util = getUtil(); }
  util.init()(util, this);
%>
<!-- <%= name %> -->
<svg class="<%= name %><%- util.setModifier(name, modifier); %>" role="img">
  <% if (text !== '') { %><title><%= text %></title><% } %>
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<%= data.root %>assets/images/icons.svg#<%= icon %>"></use>
</svg>
<!-- /<%= name %> -->
